@tailwind base;
@tailwind components;
@tailwind utilities;


* {
  box-sizing: border-box;
}

body, html {
  margin: 0;
  padding: 0;
}

/* globals.css or any main stylesheet file */
.custom-shadow {
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

