@tailwind base;
@tailwind components;
@tailwind utilities;


* {
  box-sizing: border-box;
}

body, html {
  margin: 0;
  padding: 0;
}

/* globals.css or any main stylesheet file */
.custom-shadow {
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}




.swiper2 {
  width: 80vw;
  height: 100%;
}



/* ----- */


/* Import Google Fonts - Montserrat */
/* Container for the testimonial section */
.testimonial-container {
  width: 100%;
  padding: 50px 0;
  background-color: #e3f2fd; /* This background color is now only for the testimonial section */
  display: flex;
  align-items: center;
  justify-content: center;
}

.testimonial {
  position: relative;
  max-width: 900px;
  width: 100%;
  overflow: hidden;
  background-color: #fff; /* Optional: Set a different background color for the testimonial card itself */
}

.testimonial .image {
  height: 170px;
  width: 170px;
  object-fit: cover;
  border-radius: 50%;
  margin-top: 20px;
}

.testimonial .slide {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  row-gap: 30px;
  height: 100%;
  width: 100%;
}

.slide p {
  text-align: center;
  padding: 0 160px;
  font-size: 14px;
  font-weight: 400;
  color: #333;
}

.slide .quote-icon {
  font-size: 30px;
  color: #4070f4;
}

.slide .details {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.details .name {
  font-size: 14px;
  font-weight: 600;
  color: #333;
}

.details .job {
  font-size: 12px;
  font-weight: 400;
  color: #333;
}

/* Swiper button styling */
.nav-btn {
  height: 40px;
  width: 40px;
  border-radius: 50%;
  transform: translateY(30px);
  background-color: rgba(0, 0, 0, 0.1);
  transition: 0.2s;
}

.nav-btn:hover {
  background-color: rgba(0, 0, 0, 0.2);
}

.nav-btn::after,
.nav-btn::before {
  font-size: 20px;
  color: #fff;
}

.swiper-pagination-bullet {
  background-color: rgba(0, 0, 0, 0.8);
}

.swiper-pagination-bullet-active {
  background-color: #4070f4;
}

@media screen and (max-width: 768px) {
  .slide p {
    padding: 0 20px;
  }
  
  .nav-btn {
    display: none;
  }
}
